:root{
    --texto: rgb(49, 49, 49);
    --fundo: #171a22;
    --fundo-bloco: #dfdfdf;
    --fundo-bloco-hover: #ffffff;
    --roxo-claro: #571845;

    --roxo: #421134;
    --vermelho: #C70039;
    --marsala: #900C3E;
    --azul-royal: #0F0530;
    --amarelo: #FFC300;
    --laranja: #FF5733;

}