/*  DEPOIMENTOS */
.depoimento-texto{
    text-align: justify;
}


.bloco-depoimento{
    background-color:    #e0c2d7;
    border-radius: 0px 20px 20px  50%/20px;
    display: flex;
    margin: 20px;
    color: rgb(49, 49, 49);
}

#depoimentos{
    position: relative;
}

#depoimentos img{
    padding: 10px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 500px;
    height: 150px;
    width: 150px;
    
}

#depoimentos .depoimento-texto{
    padding-right: 15px;
    padding-top: 15px;
    margin: 10px;
}
