/*  MENU BAR */
#header{
    width: 100%;
    transition: background ease-out 0.6s;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    padding-top: 5px;
    padding-bottom: 5px;
    
}
#header .navbar-collapse{
    width: auto;
    display: block;
    margin-top: 10px;
}

#header .nav-link{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: var(--roxo);
  margin-right: 10px;
  border-bottom: 3px solid white;
  transition: all ease-in-out 0.7s;
  animation:backwards menu-delay 0.5s ;
}

#header .nav-link img{
  height: 40px;
}

@keyframes menu-delay {
    from {
      transform: translateX(600px);
    }
    to {
      transform: translateX(0px);
    }
  } 


#header .nav-link:hover{
    /* transform: scale(1.4); */
    border-bottom: 3px solid var(--vermelho);
  }

#header .nav-bar {
    padding: 0px;
    background-color: transparent;
}


.navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
    animation:backwards logo-delay 0.5s;

}

@keyframes logo-delay {
    from {
      transform: translateX(-400px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
        opacity: 1;
    }
  } 

  
.active{
    position: fixed center;
}

.painel_inicial{
    height: 530px;
}

/*  PÃGINA painel_inicial */
#subtitulo-intro{
    animation:backwards subtitle-intro 1.5s;
    animation-delay: 0.5s;
}

@keyframes subtitle-intro {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
        opacity: 1;
    }
  } 

#img-capa{
  display: block;
  position: relative;  
  animation: backwards img-intro 1.5s;
    animation-delay: 0.8s;
}

@keyframes img-intro {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
        opacity: 1;
    }
} 

.balao{
  position: absolute;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  cursor:pointer;
  user-select: none;

}

.balao-contate{
  display: block;
  position: absolute;
  font-size: 18px;
  text-align: center;
  padding-top: 5px;
  color: white;
  width: 100px;
  height: 35px;
  bottom: 160px;
  right: 65px;
  animation: infinite alternate piscar 1s;
  background-color: var(--vermelho);
  transition: all ease-in 0.5s;
}

@keyframes piscar {
  from {
    background-color: var(--vermelho);

  } to{
    background-color: var(--roxo);
  }}

  #img-capa:hover > .balao-contate{
    animation:none;

  }

  .balao-vermelho{
  background-color: var(--vermelho);
  width: 250px;
  height: 90px;
  /* transform: scaleY(0%); */
  right: -30px;
  top: -10px;
  border-radius: 20px;
}

.balao-amarelo{
  background-color: var(--roxo-claro);
  width: 180px;
  height: 70px;
  transform: scaleX(0%);
  left: -50px;
  bottom: 200px;

}

.triangulo-balao-vermelho{
  position: absolute;
  bottom: -50px;
  left: 70px;
  border-top: 60px solid var(--vermelho); 
  border-right: 24px solid transparent;
  border-left: 6px solid transparent; 
  transform:  rotate(20deg);
}

.triangulo-balao-amarelo{
  position: absolute;
  bottom: -50px;
  right: 20px;
  border-top: 70px solid var(--roxo-claro); 
  border-right: 7px solid transparent;
  border-left: 28px solid transparent; 
  transform:  rotate(-40deg);
}

/* #img-capa:hover > .balao-vermelho{   */
.balao-vermelho{  
  animation: forwards ease-in-out toleft 1.5s;
  animation-delay: 1s;
}

#img-capa:hover > .balao-amarelo{  
  animation: forwards ease-in-out up 1.5s;
  animation-delay: 0.2s;
} 

/* .balao-vermelho{  
  animation: forwards ease-in-out toleft 1.5s;
  animation-delay: 1.3s;
}
.balao-amarelo{  
  animation: forwards ease-in-out up 1.5s;
  animation-delay: 1.7s;
} */

.autofalante{  
  position: absolute; 
  right: 52px; 
  top:90px;
  animation: infinite alternate pulsar-auto 1s;
}

@keyframes pulsar-auto {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1, 1.05);
  }
}

@keyframes up {
  from {
    transform: scaleY(50%) scaleX(50%) ;
    transform: translateX(30px) translateY(30px);
    opacity: 0;    
  }
    to {
      transform:scaleY(100%) scaleX(100%);
      transform: translateY(0px) translateX(0px);
      opacity: 1;
    }
} 

@keyframes toleft {

  from {
    transform: scaleY(50%) scaleX(50%) ;
    transform: translateX(-10px) translateY(30px);
    transform-origin: right;
    opacity: 0;    

  }
    to {
      transform:scaleY(100%) scaleX(100%);
      transform: translateY(0px) translateX(0px);
      opacity: 1;    
    }
} 

.triangulo-balao-vermelho{  
    animation: forwards ease-in-out down 2s;
  }

@keyframes down {
  from {
    transform: scaleX(0%) scaleY(0%) rotate(0deg);
    transform-origin: top;
  }
    to {
      transform:scaleX(100%) scaleY(100%) rotate(20deg);
    }
} 

.balao-vermelho{ 
  animation: shake-right 1s infinite alternate;
  animation-play-state: running;
} 

@keyframes shake-right {
  from{
    transform: translateY(0px) translateX(0px) ;
  } to {
    transform: translateY(2px) translateX(-3px);
  }
}

#img-capa:hover > .balao-amarelo:hover{ 
  animation: shake-left 1s infinite alternate;

} 

@keyframes shake-left {
  from{
    transform: translateY(0px) translateX(0px) ;
  } to {
    transform: translateY(-2px) translateX(-3px);
  }
}

  #img-fundo {
    width: 100%;
    background: url(../img/fundo.png) no-repeat center bottom;
    background-size: cover; 
    background-attachment: fixed ;

}

#menu-lateral{
    display: none;
    position: fixed;
    width: 5%;
    height: 95%;
    margin-top: 10px;
    margin-left: -7px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 20px;
    animation: forwards menu 1.5s;
}

.ativar-menu-lateral{
    background-color: #25091E;
    
    display: block!important;
}

@keyframes menu {
    from {
      transform: translateX(-50px);
      opacity: 0;
    }
    to {
      transform: translateX(-10px);
        opacity: 1;
    }
} 

#item-menu-lateral{
  float: right;
    margin-top: 20px;
    border-radius: 100%;
    transition: all ease-in 0.2s;
  }

#item-menu-lateral:hover{
    border-radius: 100%;
    transform: scale(1.35);
}

#item-menu-lateral img{
    margin-left: 15px;
    width: 75%;
}

#item-menu-lateral a::after{
  border-radius: 100%;
  transform: scale(1.3);
}
